.background {
  background-image: url(../images/foodie.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.signup-form {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 30px;
}
